// font-size
$fontSizeSmall: 14px;
$fontSizeRegular: 16px;
$fontSizeAccent: 18px;
$fontSizeHeader: 20px;
$fontSizeLarge: 24px;
$fontSizeHuge: 40px;
$fontSizeBanner: 60px;

// font-family
$mainFontFamily: "Segoe UI", sans-serif;
$accentFontFamily: Montserrat, sans-serif;
